
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



body {
  background-image: image('../images/star-wars-model-girl-hd-wallpaper-1920x1080-41708.jpg');
}


/* HEADING 1 ANIMATION */
h1 {
    position:relative;
    -webkit-animation:h1Animation 5s;
}
@-webkit-keyframes h1Animation {
    0%   {-webkit-transform:rotate(0deg)}
    25%   {-webkit-transform:rotate(90deg)}
    50%  {-webkit-transform:rotate(180deg)}
    75%  {-webkit-transform:rotate(270deg)}
    100%  { -webkit-transform:rotate(360deg)}
}

/* PARAGRAPH ANIMATION */
p {
    position:relative;
    -webkit-animation:h3Animation 5s;
}

@-webkit-keyframes pAnimation{

    0%   {-webkit-transform: scale(0,0);}
	  50% {-webkit-transform: scale(0,0);}
    100%  {-webkit-transform: scale(100,100);}
}

/* HEADING 2 ANIMATION */
h2 {
    position:relative;
    -webkit-animation:h2Animation 5s;
}

@-webkit-keyframes h2Animation{
    0%   {-webkit-transform: scale(1,2);}
    25%   {-webkit-transform: scale(2,3);}
    50%  {-webkit-transform: scale(3,4);}
    75%  {-webkit-transform: scale(4,5);}
    100%  { -webkit-transform: scale(0,0);}
}

.Square {
  width: 50px;
  height: 50px;
	text-align: center;
	font-size: 18pt;
  font-weight: bold;
  font-family: Verdana;
  color: black;
}

.message {
  width: 150px;
  height: 20px;
  text-align: center;
}
